style.
  .filters {
    margin-top: -37px;
  }

  .filter-item {
    margin-right: 20px;
  }
if !hideSearchFilter
  section.section
    .container
      .columns.filters
        .column.is-2
        .column.is-half(style="> .field {margin-right: 20px;}")
          form#sorting(method="GET")
            input(type="hidden" value=needle name="needle")
            .field.is-pulled-left.filter-item
              label.label.is-small.has-text-weight-normal
                | Пол
              .control.has-icons-left
                .select.is-small
                  select(name="gender")
                    option(value='')
                      | Все
                    option(selected=gender == 'male' value='male')
                      | Муж.
                    option(selected=gender == 'female' value='female')
                      | Жен.
                    option(selected=gender == 'unisex' value='unisex')
                      | Универс.
                .icon.is-small.is-left
                  i.fas.fa-sort
            if !hideSearchSort
              .field.is-pulled-left.filter-item
                label.label.is-small.has-text-weight-normal
                  | Сортировка групп
                .control.has-icons-left
                  .select.is-small
                    select(name="order")
                      option(selected=order == 'asc' value='asc')
                        | По возврастанию
                      option(selected=order == 'desc' value='desc')
                        | По убыванию
                  .icon.is-small.is-left
                    i.fas.fa-sort
        if count
          .column.has-text-right
            p.is-size-7 Найдено имён: #{count}
  script(type='text/javascript', src='/js/filter-cats.js')