extends extends/main
block title
  | Значение имени - #{name}
block append styles
block append scripts
block content
  include includes/search-filter
  section.section
    .container
      .columns
        .column.is-2
          figure.image.is-64x64.is-pulled-right
            img(src='/img/cat.png')
        .column
          .name-details
            form(method='POST', action='/cats/' + id + '/edit')
              div
                span.title.is-3 Значение имени #{name}
              br              
              textarea.textarea(
                  type='text', 
                  placeholder='Введите описание кота',
                  name='description'
              )= description
              br              
              button.button.is-success.is-outlined(type='submit') Сохранить описание 