extends extends/main
block title
  |  Значение имени - #{name}
block append styles
  link(rel='stylesheet', href='/css/name-details.css')
  style.
    .button-like {
      margin-left: 20px;
    }

    .button-like.is-liked, .button-like.is-liked:active {
      background-color: var(--grey-lighter-color);
    }

    .button-like.is-liked:focus:active {
      background-color: hsl(0, 0%, 76%);
      outline: none;
    }

    .button-like.is-liked:hover {
      border-color: hsl(0, 0%, 81%);
      background-color: hsl(0, 0%, 81%);
    }

    .button-dislike {
      margin-left: 10px;
    }

    .button-dislike.is-disliked, .button-dislike.is-disliked:active {
      background-color: var(--grey-lighter-color);
    }

    .button-dislike.is-disliked:focus:active {
      background-color: hsl(0, 0%, 76%);
      outline: none;
    }

    .button-dislike.is-disliked:hover {
      border-color: hsl(0, 0%, 81%);
      background-color: hsl(0, 0%, 81%);
    }

    .gender-icon {
      margin-left: 10px;

    }
    .form-inline{
      display: inline;
    }


block append scripts
  script(type='text/javascript', src='/js/upload-photo.js')
block content
  section.section
    .container
      .columns
        .column.is-2
          figure.image.is-64x64.is-pulled-right
            img(src='/img/cat.png')
        .column
          .name-details
            div
              - var urlLikeAction = liked ? `/cats/${id}/unlike` : `/cats/${id}/like`
              form.form-inline#like-form(method='POST' action=urlLikeAction)
                span.title.is-3 Значение имени #{name}
                  if gender == 'female'
                    span.icon.gender-icon.has-text-danger
                      i.fas.fa-venus
                  else if gender == 'male'
                    span.icon.gender-icon.has-text-info
                      i.fas.fa-mars
                  else if gender == 'universal'
                    span.icon.gender-icon.has-text-primary
                        i.fas.fa-venus-mars
                  button.button.button-like.is-light(type='submit' class=liked ? 'is-liked' : '' title=liked ? 'Убрать лайк' : 'Лайкнуть')
                    | 👍&nbsp;
                    span
                      | #{likes}
              - var urlDislikeAction = disliked ? `/cats/${id}/undislike` : `/cats/${id}/dislike`
              form.form-inline#dislike-form(method='POST' action=urlDislikeAction)
                  button.button.button-dislike.is-light(type='submit' class=disliked ? 'is-disliked': '' title=disliked ? 'Убрать дизлайк': 'Дизлайкнуть')
                    | 👎&nbsp;
                    span
                      | #{dislikes}

            br
            form(method='GET', action='/cats/' + id + '/edit')
              if description
                div= description
                br
                button.button.is-success.is-outlined(type='submit') Редактировать описание
              else
                div
                  | У этого кота нет описания
                br
                button.button.is-success.is-outlined(type='submit') Добавить описание
  section.section
    .container
      .columns
        .column.is-2
        .column
          div
            span.title.is-3 Фотографии
          br
          .gallery
            .photo.upload
              label
                span.title
                  | Добавить фото
                form(method='POST', action=`/cats/${id}/upload`, enctype='multipart/form-data')
                  input#upload-photo(type='file' accept='image/png,image/jpeg' name='file')
            each url in photos || []
              .photo(style=`background-image:url(${url})`)
