extends extends/main
block title
  |  Значение имени - #{name}
block append styles
  link(rel='stylesheet', href='/css/name-details.css')
block append scripts
  script(type='text/javascript', src='/js/upload-photo.js')
block content
  section.section
    .container
      .columns
        .column.is-2
          figure.image.is-64x64.is-pulled-right
            img(src='/img/cat.png')
        .column
          .name-details
            div
              - var urlLikeAction = liked ? `/cats/${id}/unlike` : `/cats/${id}/like`
              form#like-form(method='GET' action=`${urlLikeAction}`)
                span.title.is-3 Значение имени #{name}
                  | &nbsp;#{id}
                  if liked
                    button#like.button.is-success(type='submit')
                      | 👍&nbsp;
                      span#like-count
                        | #{likes}
                  else
                    button#unlike.button.is-light(type='submit')
                      | 👍&nbsp;
                      span
                        | #{likes}
            br
            //- if gender == 'female'
            //-   span.icon.has-text-danger
            //-     i.fas.fa-venus
            //- else if gender == 'male'
            //-   span.icon.has-text-info
            //-     i.fas.fa-mars
            //- else if gender == 'unisex'
            //-   span.icon.has-text-primary
            //-     i.fas.fa-venus-mars
            form(method='GET', action='/cats/' + id + '/edit')
              if description
                div= description
                br
                button.button.is-success.is-outlined(type='submit') Редактировать описание
              else
                div
                  | У этого кота нет описания
                br
                button.button.is-success.is-outlined(type='submit') Добавить описание
  section.section
    .container
      .columns
        .column.is-2
        .column
          div
            span.title.is-3 Фотографии
          br
          .gallery
            .photo.upload
              label
                span.title
                  | Добавить фото
                form(method='POST', action=`/cats/${id}/upload-photo`, enctype='multipart/form-data')
                  input#upload-photo(type='file' accept='image/*' name='image')
            each url in photos || []
              .photo(style=`background-image:url(${url})`)
