doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title Meowle - #{needle}

    link(rel='stylesheet', href='/css/bulma.min.css')
    link(rel='stylesheet', href='/css/fontawesome.all.min.css')

    script(type='text/javascript', src='/libs/alertifyjs/alertify.min.js')
    link(rel='stylesheet', href='/libs/alertifyjs/css/alertify.min.css')
    link(rel='stylesheet', href='/libs/alertifyjs/css/themes/bootstrap.min.css')
  body
    section.section.has-background-light
      .container
        .columns
          .column.is-2.has-text-right-desktop
            h1.is-size-3(style='margin-top: -0.5rem') 
              a.has-text-black(href='/') meowle
          .column
            form.field.has-addons(method='POST', action='/search')
              .control.is-expanded
                input#cat-name.input(
                  type='text', 
                  placeholder='Введите часть имени кота', 
                  autocomplete='off',
                  name='needle',
                  value=needle
                )
              .control
                button.button(type='submit')
                  span.icon
                    i.fas.fa-search
            p.is-size-7 Найдено имён: #{count}

    section.section
      .container
        .columns
          .column.is-2
            figure.image.is-64x64.is-pulled-right
              img(src='/img/cat.png')
          .column
            each group in groups
              .search-result-group
                div
                  span.title.is-4 #{group.title}
                  span.is-pulled-right.has-text-grey.is-size-7 #{group.count}
                br
                div
                  .tags
                    each cat in group.cats
                      span.tag.is-size-5
                        a(href='/cats/' + cat.id, style={color: 'black'}) #{cat.name}
                hr

    input#validation-rules(type='hidden', value=validationRules)
    script(type='text/javascript', src='/js/validation.js')

    if showPopup
      script(type='text/javascript', src='/js/popup.js')
                              